/* All pages ----------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    height: 300px;
}

.jumbotron {
    text-align: center;
    background: rgb(78, 78, 78);
    color: white;
    padding-top: 20px;
    padding-bottom: 45px;
}

.greetings {
    text-align: center;
    background-color: rgb(207, 108, 99);
}

.secondary-text {
    font-size: 30px;
}


/* Home / index.html --------------------------- */
#rodImg {
    width: 100%;
}

#orFlex p {
    text-align: center;
    margin: 30px 0 10px 0;
}

.rowFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.recipe {
    height: max-content;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 9px;
}

.recipeTitle img {
    max-height: 100px;
    max-width: 150px;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0 0 0 0;
}

.recipeTitle {
    display: flex;
    align-items: center;
    justify-content: left;
}

.recipeTitle h5 {
    margin: 0 20px;
}

.flexTitle {
    /* display: flex;
    justify-content: center; */
}