/* All pages ----------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(231, 231, 231);
}

#row-1 {
    background: #26a69a;;
}

.jumbotron {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 45px;
    color: #fff;
    background-color: #26a69a;
}

#rodTitle {
    font-size: 30px;
}

.secondary-text {
    font-size: 30px;
}

.content {
    background: rgb(250, 250, 238);
    padding: 0 20px 30px 20px;
}

.content div h3 {
    margin: 0;
}


/* Home / index.html --------------------------- */
#rodImg {
    width: 100%;
}

#orFlex p {
    text-align: center;
    margin: 30px 0 10px 0;
}

.rowFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.recipe {
    height: max-content;
    margin: 15px 0 30px 0;
    align-items: center;
}

.recipeImg {
    height: 150px;
    width: 150px;
    height: auto;
    width: auto;
    margin-left: 0;
    padding: 0 0 0 0;
}

.recipeTitle {
    display: flex;
    align-items: center;
    justify-content: left;
}

.recipeTitle h5 {
    margin: 0 20px;
}

.flexTitle {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flexTitle button {
    max-width: 50%;
    margin: 0 auto;
    padding: 2px 15px;
}

.row {
    margin-bottom: 0;
}

.greetings {
    margin: 0;
    text-align: center;
    background-color: lightyellow;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #26a69a;
    
}

#row-1 {
    background-color: lightyellow;
}

#row-2 {
    background-color: lightyellow;
}

.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.saveButton {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
}

.deleteButton {
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    margin: 5px;
}

#currentIngredients {
    min-height: 115px;
    max-height: max-content;
}